*{
	margin:0;
	padding: 0;
}

html, body{
	width:100%;
	height: 100%;
	overflow: hidden;
}

.header{
	z-index: 99;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.6);
}

.center{
	margin:0 auto;
	text-align: center;
}

a{
	text-decoration: none;
}

.nav{
	color: #333;
	display: inline-block;
	vertical-align: top;
	margin:1em 1em;
}

.active{
	color: green;
}

.img{
	position: absolute;
	left: 0;
	top: 0;
}

.logo{
	margin:.3em .5em;
}

.up{
	opacity: 0;
	z-index:3;
	transition: opacity .6s ease;
	transition-delay:  3.3s;
}

.middle{
	z-index: 2;
}