@import "~./Windlike";
#header{
	width:100%;
	background:rgb(249,249,249);
	height:60px;
	border:#eee 1px solid;

	.headerWrap{
		width: 1200px;
		margin:0 auto;
		.logo{
			float:left;
			vertical-align:middle;
			height:60px;

			.name{
				vertical-align:middle;
				display: inline-block;
				font-size:1.5em;
				margin-top: calc(0.5em - 60px);
			}
		}

		.logButton{
			@include button($type:success);
			font-weight: bold;
			display: inline-block;
			height: 50px;
			margin-top: 5px;
			float: right;
			line-height: 50px;
			padding:0 1em;
		}
		.user{
			display: none;
			position:relative;
			cursor: pointer;
			float:right;
			.username{
				line-height: 60px;
				font-size: 1.2em;
				padding:0 0.5em;
				border-left:1px #aaa solid; 
				border-right:1px #aaa solid; 

				&:hover{
					background:rgba(0,0,0,.1);

				}
			}

			&:hover .menus{
				opacity:1;
			}

			.menus{
				opacity:0;
				width: 180px;
				position:absolute;
				top: 60px;
				right: 0;
				z-index: 5;
				text-align:center;
				transition: opacity ease .4s;

				.menu{
					padding:0.5em 0;
					border:1px #aaa solid; 
					background:white;
					

					&:nth-of-type(1){
						border-top:#08c 3px solid;
					}

					&:hover{
						background:darken(white, 5);
					}
				}
			}
		}
	}
}
ul{
	list-style: none;
}
#nav{
	min-width:1200px;
	width:100%;
	position: relative;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	z-index:3;
	background:rgb(249,249,249);
	border:#eee 1px solid;

	
	.text{
		vertical-align:middle;
		display: inline-block;
		font-size:1.2em;
		line-height: 60px;
	}
	
} 

#nav ul.navs{
	@include clearfix;
	display:inline-block;
	position: relative;
	float:left;

}

#nav ul li.item{
	float: left;
	width: 110px;
	height: 60px;
	padding:0 15px;
	line-height: 60px;
}

#nav .bg{
	position: absolute;
	width: 110px;
	height: 60px;
	background: #31c27c;
	top:0;
}
.naver{
	font-weight: bold;
	color:black;
}
.item{
	position:relative;
	z-index:2;
}
.item:hover .naver{
	color:white;
}
.item ul{
	position: absolute;
	display: none;
	opacity: 0;
}
.item ul li{
	width:110px;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	padding:.5em 0;
	border:darken(#31c27c, 5) 1px solid;
	cursor:pointer;
	&:hover{
		background:darken(#31c27c, 5);

		a{
			color:white;
		}
	}

	a{
		color:black;
	}
}



.item .active{
	margin: auto -15px;
	display: block;
	background: lighten(#31c27c, 5);
}
#navs{
	width:1200px;
	margin:0 auto;
}
