html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix:before, .clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.word {
    display: none;
    width: 300px;
    border-radius: 50%;
    margin: 50px auto;
    text-align: center;
    background: black;
    text-shadow: 0 0 0.2em #f87, -0 -0 0.2em #f87;
}

.word span {
    font-size: 40px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #d1d1d1;
    text-align: center;
}

.container {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.container .picture {
    float: left;
    width: 250px;
    height: 250px;
    margin: 20px 0;
    margin-left: 66px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.container .picture:first-child {
    margin-left: 0;
}

.container .picture img {
    width: 100%;
    height: 100%;
}

.wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(128, 128, 128);
    z-index: -1;
    display: none;
}

.showLists {
    width: 800px;
    height: 550px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.showLists ul.lists {
    width: 4000px;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
}

.showLists ul.lists li {
    width: 800px;
    height: 100%;
    float: left;
}

.showLists ul.lists li img {
    width: 800px;
    height: 100%;
}

.showLists ul.dots {
    position: absolute;
    width: 120px;
    height: 15px;
    bottom: 15px;
    left: 350px;
    z-index:150;
}

.showLists ul.dots li {
    cursor: pointer;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: RGBA(0, 0, 0, .7);
    margin-right: 5px;
}
.showLists ul.dots li.active{
    background: pink;
}
.arrow {
    cursor: pointer;
    width: 40px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, .3);
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    top: 250px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, .7);
    color: pink;
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}
