
ul,li{
	list-style: none;
}
.hotCourses{
	width: 100%;
	min-width: 1200px;
	text-align:center;
	padding:10px 0px;

}
.hotCourses ul li{
	cursor: pointer;
	position: relative;
	display: inline-block;
    width: 250px;
    margin:.5em 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 1.8px 1px 1px grey;
	color:#eee;
	overflow:hidden;
	vertical-align:top;

	&:before{
		content:"";
		position: absolute;
		top:0; bottom:0;
		left:0; right:0;
		transition: background .3s ease;
	}

	&:hover:before{
		background:rgba(255,255,255,.15);
	}

    &:nth-of-type(2),&:nth-of-type(6){
    	margin:.5em 33px 0 66px;
    }
    &:nth-of-type(3),&:nth-of-type(7){
    	margin:.5em 66px 0 33px;
    }
}
.hotCourses .top li:nth-child(1){
	background: #3399fe;
}
.hotCourses .top li:nth-child(2){
	background: #82c682;
}
.hotCourses .top li:nth-child(3){
	background: #3b4e61;
}
.hotCourses .top li:nth-child(4){
	background: #ea907b;
}
.hotCourses .bottom li:nth-child(1){
	
	background: #ea907b;
}
.hotCourses .bottom li:nth-child(2){
	
	background: #3b4e61;
}
.hotCourses .bottom li:nth-child(3){
	background: #82c682;
}
.hotCourses .bottom li:nth-child(4){
	background: #3399fe;
}
.hotCourses ul li .wrapper{
	width: 100%;
	height: 100%;
	opacity: 1;
}
.hotCourses ul li:hover .wrapper{
	animation: font .4s	;
}
@keyframes font{
	0%{
		opacity: 0;
		transform: translateY(3em);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
