*{
  font-family: "微软雅黑";
  margin: 0;
  padding: 0;
}
body{
  min-width: 1200px;
  width: 100%;
  background-color: white;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 290618 */
  src: url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.eot');
  src: url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.woff') format('woff'),
  url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.svg#iconfont') format('svg');
}
header.top{
  width:1200px;
  margin:0 auto;
}
.clearfix::before,.clearfix::after{
  content: ".";
  clear:both;
  height:0px;
  display: block;
  visibility: hidden;
}
/*#container{*/
  /*margin: 0 100px;*/
/*}*/

header.top .iconfont{
	font-family: "iconfont";	
  font-style:normal;
  color: #4D4C4C;
  font-size:25px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

header.top.top{
  padding: 10px;
  margin-bottom: 20px;
  height: 40px;
}

header.top.top .word{
  font-size: 18px;
  line-height: 35px;
}
.main_wrap{
  width:1200px;
  margin:0 auto;
}

.main_wrap .main{
  width:82%;
  float: left;
  border-right: 1px solid #ddd;
}

.main_wrap .main .artical{
  margin-bottom: 35px; 
  border-bottom: 1px solid #ddd;
}

.main_wrap .main .artical .left{
  float: left;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background: #EDEDED;
}

.main_wrap .main .artical .left .date{
  font-size: 40px;
  color: #E67219;
  padding-left: 25%;
  border-bottom: 1px #ccc solid;
}

.main_wrap .main .artical .left .month,.year{
  padding-left: 30%;
}

.main_wrap .main .artical .middle{
  margin-left: 30px;
  float: left;
  width: 80%;
}

.main_wrap .main .artical .middle .title{
  font-size: 18px;
  font-family: '黑体';
  font-weight: bold;
}

.main_wrap .main .artical .middle .title a:hover{
  color: #6262F6;
}

.main_wrap .main .artical .middle .title a{
  color: #373737;
}

.main_wrap .main .artical .middle .detail{
  color: #4C4C4C;
  font-size: 12px;
  margin-top: 3px;
}

.main_wrap .main .artical .middle .content{
  margin-top: 10px;
}

.main_wrap .main .artical .middle .content p{
  line-height: 25px;
  text-indent: 2em;
  font-size: 14px;
}

.main_wrap .main .artical .middle .content p a{
  color: #0094FF;
}

.main_wrap .main .more{
  cursor: pointer;
  text-align: center;
  background: #EDEDED;
  height:50px;
  font-size: 20px;
}
.main_wrap .main .more span{
  line-height:50px;
}
.main_wrap .main .more{
    color: #E67219;
  position:relative;
}
.main_wrap .main .more .loadding{
  width: 30px;
  height: 30px;
 position:absolute;
  right:415px;
  top:10px;
}
.main_wrap .main .more .loadding img{
  width:100%;
  height:100%;
}
.main_wrap .right{
  float: right;
  width: 200px;
}

.main_wrap .right img{
  width: 200px;
  height: 250px;
  border-radius: 5%;
  margin-bottom:20px; 
}

