*{
  font-family: "微软雅黑";
  margin: 0;
  padding: 0;
}
body{
  min-width: 1200px;
  width: 100%;
  background: white;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 290618 */
  src: url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.eot');
  src: url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.woff') format('woff'),
  url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_pl1dvkwvk3n2ke29.svg#iconfont') format('svg');
}

.clearfix::before,.clearfix::after{
  content: ".";
  clear:both;
  height:0px;
  display: block;
  visibility: hidden;
}

header.top .iconfont{
  font-family: "iconfont";
  font-style:normal;
  color: #4D4C4C;
  font-size:25px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

header.top{
  width:1200px;
  padding: 10px;
  margin:10px auto;
  height: 40px;
}

header.top .word{
  font-size: 18px;
  line-height: 35px;
}

header.top .word a{
	color: black;
}

.main_wrap{
  width:1200px;
  margin:0 auto;
}
.main_wrap .loadding{
  text-align:center;
  margin:20px 0;
}
.main_wrap .main{
  width: 80%;
  float: left;
  border-right: 1px solid #ddd;
}

.main_wrap .main .artical{
  margin-bottom: 20px; 
  border-bottom: 1px solid #ddd;
}
.main_wrap .main .artical h2{
  text-align: center;
  margin:10px 0px;
}
.main_wrap .main .artical p{
  padding:10px 10px;
  line-height:30px;
}
.main_wrap .main .artical .pic{
  width: 480px;
  height:auto;
  margin:15px auto;
}
.main_wrap .main .artical .pic img{
  width:100%;
  height:100%;
}
.main_wrap .main .artical h2{
  text-align: center;
  margin:15px 0px;
}
.main_wrap .main .artical h4{
  text-align: center;
  margin:15px 0px;
}
.main_wrap .main .artical .left{
  float: left;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background: #EDEDED;
}

.main_wrap .main .artical .left .date{
  font-size: 40px;
  color: #E67219;
  padding-left: 25%;
  border-bottom: 1px #ccc solid;
}

.main_wrap .main .artical .left .month,.year{
  padding-left: 30%;
}

.main_wrap .main .artical .middle{
  margin:0 auto;
  width: 800px;
}

.main_wrap .main .artical .middle .title{
  text-align: center;
  font-size: 18px;
  font-family: '黑体';
  font-weight: bold;
}

.main_wrap .main .artical .middle .title a{
  color: #373737;
}

.main_wrap .main .artical .middle .detail{
  text-align: center;
  color: #4C4C4C;
  font-size: 12px;
  margin-top: 3px;
}

.main_wrap .main .artical .middle .content{
  margin-top: 10px;
}

.main_wrap .main .artical .middle .content p{
  line-height: 25px;
  text-indent: 2em;
  font-size: 14px;
  margin: 30px 50px;
}


.main_wrap .main .more{
  display: inline-block;
  padding-left: 180px;
  margin-bottom: 30px;
}

.main_wrap .main .more span{
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    padding-left: 1px;
    padding-right: 3px;
    line-height: 25px;
    background: #E67219;
    font-size: 15px;
}

.main_wrap .main .more a{
	color: black;
	padding-left: 10px;
}

.main_wrap .main .more a:hover{
	color: #6262F6;
}

.main_wrap .right{
  float: right;
  width: 200px;
}

.main_wrap .right img{
  width: 200px;
  height: 250px;
  border-radius: 5%;
  margin-bottom:20px; 
}