@mixin gradient-line($width:100%,$height:2px, $color:black, $bottom:0){
	position:relative;
	
	&:before,&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: $bottom;
		width: $width/2;
		height: 2px;
		
	}

	&:before{
		left: 0;
		background: linear-gradient(to right, transparent, $color);
	}

	&:after{
		right: 0;
		background: linear-gradient(to left, transparent, $color);
	}
}